[package]
name = "quote_common"
version.workspace = true
edition.workspace = true

[dependencies]
thiserror = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
clap = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }